@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind Styles
@layer base {
  html {
    font-family: "Exo 2", sans-serif;
  }

  body {
    font-family: "Exo 2", sans-serif;
  }
}

@layer components {
  .text-header {
    @apply font-body text-base font-semibold;
  }

  .text-title {
    @apply font-body text-sm font-bold;
  }

  .scrollbar-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      scrollbar-width: none;
    }
  }
}
